<log4net>
  <appender name="EventlogAppender" type="log4net.Appender.EventLogAppender">
    <applicationName value="CPH_InstantPaymentService" />
    <mapping>
      <level value="ERROR" />
      <eventLogEntryType value="Error" />
    </mapping>
    <mapping>
      <level value="FATAL" />
      <eventLogEntryType value="Error" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <eventLogEntryType value="Information" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <eventLogEntryType value="Warning" />
    </mapping>
    <logName value="Application" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message" />
    </layout>
    <securityContext type="log4net.Util.WindowsSecurityContext">
      <credentials value="Process" />
    </securityContext>
    <threshold value="Info" />
  </appender>

  <appender name="RollingFileAppenderInfo" type="log4net.Appender.RollingFileAppender">
    <file value="C:\TMP\CPH_Logs\InstantPayment.Service\InstantPayment.log" />
    <appendToFile value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="30" />
    <maximumFileSize value="1GB" />
    <datePattern value=".yyyy-MM-dd" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date | %-5level | %logger (%t) | %message%newline" />
    </layout>
    <threshold value="Info" />
  </appender>

  <appender name="RollingFileAppenderError" type="log4net.Appender.RollingFileAppender">
    <file value="C:\TMP\CPH_Logs\InstantPayment.Service\InstantPayment.error.log" />
    <appendToFile value="true" />
    <staticLogFileName value="false" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="30" />
    <maximumFileSize value="1GB" />
    <datePattern value=".yyyy-MM-dd" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date | %-5level | %logger (%t) | %message%newline" />
    </layout>
    <threshold value="Error" />
  </appender>

  <appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
    <mapping>
      <level value="FATAL" />
      <foreColor value="White" />
      <backColor value="Red" />
    </mapping>
    <mapping>
      <level value="ERROR" />
      <foreColor value="Red" />
      <backColor value="White" />
    </mapping>
    <mapping>
      <level value="WARN" />
      <foreColor value="Yellow" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="Green" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <foreColor value="White" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date | %-5level | %logger (%t) | %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <!-- <appender-ref ref="RollingFileAppenderInfo" /> -->
    <!-- <appender-ref ref="RollingFileAppenderError" /> -->
    <appender-ref ref="ColoredConsoleAppender" />
    <!-- <appender-ref ref="EventlogAppender" /> -->
  </root>
</log4net>